<li class="list-group-item rounded">
    <a href="/services/<%= service.id %>">
      <div class="media ">
        <img src="<%=`/images/${service.img}`%>" class="align-self-start mr3 rounded">
            
        <div class="media-body ml-2">
          <h3 class="card-title">
          <%= service.title %>
          </h3>
          <p>
          <%= service.description %>
          </p>
        </div>
      </div>
          
    </a>
  </li>